body{
    
    font-family: 'Poppins', sans-serif; 
    background-color:bisque;
 }
 
 #box h2{
    
     display:flex;
     justify-content: center;
     
 }
 
 h2{
     color:bisque;
     letter-spacing: 1px;
 }
 input{
     border-radius: 5px;
     border: 2px solid #01021f ;
     height: 38px;
     width:250px;
     padding-left:10px;
 }
 
 input:active{
     border:none;
 }
 #box{
     height:500px;
     width:400px;
     margin:200px auto;
     background-color:#01021f;
     border-radius:10px;
     padding:30px;
     
 }
 
 button{
     margin-top:20px;
     background-color:bisque;
     border-radius: 4px;
     height: 44px;
     font-weight: 600;
     padding: 0 30px;
     letter-spacing: 1px;
     border: none;
     color: #102770;
 }
 
 button:hover{
     cursor:pointer;
 }
 #todoList{
     color:bisque;
     font-size:20px;  
     margin-top:30px; 
 }
 
 #todoList p{
   margin:10px 0px;
   padding-left:13px;
 }
 
 #todoList p:hover{
   cursor: pointer;
 }
 
 
